# Python virtual environment
.venv/

# Python cache files
__pycache__/

# Jupyter temporary files
.ipynb_checkpoints/

# Local environment variables / secrets
.env

# Generated databases
*.db

# Generated data files
data/raw/
data/processed/

# Ignore generated output files except charts used in README
outputs/*
!outputs/charts/
!outputs/charts/*.png

# Python cache
*.pyc